#logo {
  height: 3em;
}

.allign_right {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

.signup {
  margin-left: 20px;
  background-color: black;
  border: 1px solid white;
}

.navbar_custom {
  background-color: #444444;
}

.welcome {
  color: white;
  margin-right: 20px;
  font-size: large;
}

.feedback {
  color: black;
}

.input-error {
  border: 2px solid red;
}

.input-success {
  border: 2px solid green;
}

.form-error {
  color: red;
  font-weight: bold;
}

.form-success {
  color: green;
  font-weight: bold;
}

#mapid {
  height: 180px;
}

.sidebar_input {
  width: 20em;
  margin-top: 5px;
}
