.sidebar {
  position: absolute;
  z-index: 5000;
  background-color: #fff;
  border: 0.25px solid #26a69a;
  border-radius: 1%;
  top: 2.5%;
  left: 2.5%;
  right: 70%;
  bottom: 2.5%;
  width: max-content;
}

#mapid {
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  padding: 0.75rem 1.25rem 0 1.25rem;
}

.row {
  margin-bottom: 0;
  font-size: 12.5px;
}

.dropdown-content {
/* so that the scroll stays within the search box */
  max-height: 60vh;
}

.slider-container {
  margin: 0;
}

.slider {
  margin: 2em 0 0 0;
  height: max-content;
}

.range-field {
  margin-top: -2.25em;
}

.slider-label {
  font-size: 16px;
}

.select-dropdown {
  color: #ff6f00;
}

.select-dropdown li.optgroup > span {
  color: #ff6f00;
}

.filter-sidebar__btn {
  margin: 10.5em 0.75em 0 0.75em;
}